/* google font "poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* tailwind and daisy ui */
@import "tailwindcss";
@plugin "daisyui";

/* theme colors for light and dark */
@plugin "daisyui/theme" {
    name: "light";
    default: true;

    --color-primary: #14C2ED;
    --color-secondary: #0EA5E9;
    --color-accent: #34D399;
    --color-neutral: #02020299;

    --color-base-100: #FFFFFF;
    --color-base-200: #F2F7FA;
    --color-base-300: #E3EDF1;

    --color-info: #38BDF8;
    --color-success: #22C55E;
    --color-warning: #FACC15;
    --color-error: #EF4444;
}

@plugin "daisyui/theme" {
    name: "dark";

    --color-primary: #14C2ED;
    --color-secondary: #0C8DB8;
    --color-accent: #2DD4BF;
    --color-neutral: #EBF9FF;

    --color-base-100: #0D0F12;
    --color-base-200: #13161B;
    --color-base-300: #1C1F25;

    --color-info: #0EA5E9;
    --color-success: #16A34A;
    --color-warning: #F59E0B;
    --color-error: #DC2626;
}

/* custom styles */
* {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-base-100);
}

.active {
    background-color: var(--color-primary);
    color: #fff;
}

.btn-primary{
    background-color: var(--color-primary);
    color: #fff;
}

h1{
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-primary);
    text-align: center;
}
h2{
    font-weight: bold;
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
}
h3{
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-primary);
    text-align: center;
}
h4{
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--color-primary);
    text-align: center;
}

p{
    color: var(--color-neutral);
}